body {
    font-family: "Poppins", sans-serif;
    font-style: normal;

    background-color: #F9FAFB;

    min-width: 640px;
    max-width: 740px;
    margin: 0 auto;
}

.newsletter-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 200px 20px 20px 20px;
}

.logo {
    width: 50px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    color: #000000;

    margin: 10px 0 0 0;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    color: #6C727F;
    
    margin: 10px 0 0 0;
}

form {
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 550px;
    margin-top: 60px;
    padding: 25px;

    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

input {
    background-color: #F9FAFB;
    border: #E5E7EB 1px solid;
    border-radius: 10px;

    font-size: 16px;
    font-weight: 500;
    color: #394150;
    text-align: center;

    padding: 20px;
}

input::placeholder {
    color: #394150;
}

button {
    background-color: #284BCE;
    border: #E5E7EB 1px solid;
    border-radius: 10px;

    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;

    padding: 20px;
}

caption {
    font-size: 14px;
    font-weight: 400;
}

footer {
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;

    margin-top: 50px;;
}

footer a {
    text-decoration: none;
}